/* buttons */
.btn{
    padding: 5px 10px;
    border-radius: 20px;
}
/* border */
.b-black{
    border: 1px solid black;
}
/* jumbotron */
#jumbotron{
    background-image: url(/img/jumbo-bg.png);
    height: 600px;
}
/* jumbotron 2 */
#jumbotron-2{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
}

#plus{
    border: 2px dashed red;
}
#now{
    border: 2px dashed red;
}
#social{
    border: 2px dashed red;
}

#sconti{
    border: 2px dashed red;
}
.b-border{
    border: 2px solid rgb(182, 30, 30);
}
.s-h{
    height: 20px;
}
.b-h{
    height: 100px;
}
.text-center{
    text-align: center;
}