/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    z-index: 10;
}
/* buttons */
.btn{
    padding: 5px 10px;
    border-radius: 20px;
}
/* border */
.b-black{
    border: 1px solid black;
}
/* jumbotron */
#jumbotron{
    background-image: url(/img/jumbo-bg.png);
    height: 675px;
    background-position: center
}
/* jumbotron 2 */
#jumbotron-2{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center
}
/* margin */
.mt-6em{
    margin-top: 6em;
}
/* effects */
img{
    transition: transform 0.5;
}
#cards > .col-6 img{
   

}