/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    z-index: 10;
}
/* buttons */
.my-btn{
    padding: 5px 10px;
    border-radius: 20px;
    transition: box-shadow 250ms;
}
/* border */
.b-black{
    border: 1px solid black;
}
/* jumbotron */
#jumbotron{
    background-image: url(/img/jumbo-bg.png);
    height: 675px;
    background-position: center
}
/* jumbotron 2 */
#jumbotron-2{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center
}
/* margin */
.mt-6em{
    margin-top: 6em;
}
/* effects */
/* buttons */
.my-btn:hover{
    background: var(--bg-cur-color);
    box-shadow: 0 0 0 4px var(--bg-cur-color), inset 0 0 0 1.5px var(--ripple-cur-color); /* si estende verso l'esterno, il colore della linea sara quello di --ripple-cur-color */
    /* box-shadow: inset 0 0 0 3px var(--bg-cur-color), inset 0 0 0 4.5px var(--ripple-cur-color); */ /* va verso l'interno, il colore della linea sara quello di --ripple-cur-color */
}
/* images */
#card img{
    transition: transform 0.6s ;
}
#cards img:hover{
    transform:translateY(-15px) scale(1.05);
}

#slider figure{
    opacity: 0.5 ;
    transition: opacity 0.5s;
}
#slider figure::after{
    content: '';
    display: block;
    height: 2px;
    background: transparent;
    width: 100%;  
}
#slider figure:hover, #slider figure:active{
    opacity: 1.0;
}
#slider figure:hover::after, #slider figure:active::after{
    content: '';
    display: block;
    height: 2px;
    background: blue;
    width: 100%;
}